@{
    ViewBag.Title = "About";
}

<hr/>
<h1 align="center">About US</h1>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-6" style="text-align:justify; font-size:15px;">

            The population of the world is multiplying with each
            coming year and so are the diseases and health issues.
            With an increase in the population there is an increase
            in the need of blood. The growing population of the
            world results in a lot of potential blood donors. But in
            spite of this not more than 10% of the total world
            population participates in blood donation. With the
            growing population and the advancement in medical
            science the demand for blood has also increased. Due
            to the lack of communication between the blood
            donors and the blood recipients, most of the patients
            in need of blood do not get blood on time and hence
            lose their lives. There is a dire need of
            synchronization between the blood donors and
            hospitals and the blood banks. This improper
            management of blood leads to wastage of the
            available blood inventory. Improper communication
            and synchronization between the blood banks and
            hospitals leads to wastage of the blood available.
            These problems can be dealt with by automating the
            existing manual blood bank management system. A
            high-end, efficient, highly available and scalable
            system has to be developed to bridge the gap between
            the donors and the recipients and to reduce the efforts
            required to search for blood donors.

        </div>

        <div class="col-md-6">

            <img src="~/Images/1557673767152.jpg" class="img-responsive"/>

        </div>

    </div>

</div>