@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Thanks for  the Feed Back </h1>
             <img src="~/Images/fb.jpg"  class="img-thumbnail" />
            <h3 class="btn btn-success"> @Html.ActionLink("Back to Main ", "Index", "Home")</h3>
        </div>
    </div>

</div>




