@{
    ViewBag.Title = "Home Page";
}



<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <img src="~/Images/banner.jpg" class="img-responsive" style="width:100%;"/>

        </div>

    </div>

</div>
<h2 align="center"> Blood Bank Management System </h2>
<div class="row">
    <div class="col-md-6">
        
        <img src="~/Images/blood-bank.jpg" class="img-thumbnail" style="width:700px;height:400px;" /> 
    </div>
    <div class="col-md-6">
        <br /><br /><br /><br />
        <p style="font-size:20px;">
            The basic building aim is to provide blood donation service to the city recently. Blood Bank Management System (BBMS) is a Web-based application that is designed to store, process, retrieve and analyze information concerned with the administrative and inventory management within a blood bank.

            This project aims at maintaining all the information pertaining to blood donors, different blood groups available in each blood bank and help them manage in a better way.
            Project Aim is to provide transparency in this field, make the process of obtaining blood from a blood bank hassle-free and corruption-free and make the system of blood bank management effective.
        </p>

    </div>

</div>